* {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.headder {
  width: 100vw;
  background-color: red;
  flex-grow: 1;
  animation: header 5s;
}

.footer {
  width: 100vw;
  background-color: green;
  flex-grow: 1;
}

.content {
  flex-grow: 25;
  display: flex;
}

.main {
  flex-grow: 10;
  background-color: yellow;
}

.aside {
  flex-grow: 1;
  background-color: orange;
}


@media screen and (max-width: 390px) {

  .content {
    display: flex;
    flex-direction: column;
  }
  .aside {
    order: 2;
  }
}


